@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-cyber: "Abril Fatface", ui-serif, Georgia, serif;
  --font-tech: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  
  --color-neon-cyan: #00f3ff;
  --color-neon-pink: #ff00ff;
  --color-neon-purple: #bc13fe;
  --color-neon-yellow: #fcee0a;
  
  --color-glass-bg: rgba(255, 255, 255, 0.05);
  --color-glass-border: rgba(255, 255, 255, 0.1);
}

body {
  background-color: #050505;
  color: #e0e0e0;
  overflow-x: hidden;
  font-family: var(--font-tech);
}

::selection {
  background-color: #00f3ff;
  color: #000;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #bc13fe;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff00ff;
}

